# Python Training

## What is Python?

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together

### Features of Python:
    
1. System Programming
2. GUI Interface
3. Web Scrapping
4. Databases
5. Numeric/Scientific Programming
6. Create a Game
7. Image Processing
8. Robotics
9. Automation
10. Data Warehousing/Mining
11. Data Science
12. Computer Vision

### Why Python?

1. Python is easy to learn
2. It uses a simplified syntax with an emphasis on natural language, for a much easier learning curve for beginners. 
3. Python is free to use and is supported by an extremely large ecosystem of libraries and packages
4. it's often the first-choice language for new developers.

### Trends of different Languages

https://trends.google.co.in/trends/explore?date=today%205-y&q=%2Fm%2F05z1_,%2Fm%2F07sbkfb,%2Fm%2F01t6b,%2Fm%2F0jgqg,%2Fm%2F0212jm

### Python Version available
1. 2.x
2. 3.x

### IDEs (Integrated development environment Software) for Python

1. Jupyter
2. Spyder
3. PyCharm
4. VS Code
5. Sublime

.....

### Python Installation Link
https://www.python.org/downloads/

### Anaconda Installation Link
https://www.anaconda.com/

### VS Code Installation Link
https://code.visualstudio.com/Download

### PyCharm Installation Link
https://www.jetbrains.com/pycharm/download/#section=windows

### Google Colab (Online Interpretor)
https://colab.research.google.com/

## Jupyter Notebook Overview

In [153]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://pythonnumericalmethods.berkeley.edu/_images/01.04.02-within_notebook.png")

### Theme of Python (Tagline of Python)

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### For help press Shift + Tab

print(<Press Shift + Tab>)

In [3]:
print("This is my first program.")

This is my first program.

### To check the working directory or the location of the Jupyter Notebook

In [4]:
pwd()

'D:\\Trainings\\Python\\Python Training'

### Data Type: 
In python you do not have to declare your data type explicitly. Python will internally understand the data type.

To check the data type of variable - type( )

In [154]:
Image(url= "https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg")

In [7]:
type(a)

int

In [8]:
b = "Asta"
type(b)

str

In [9]:
c = 2.34
type(c)

float

In [10]:
d = 5+6j
type(d)

complex

In [11]:
e = True
type(e)

bool

### What is VARIABLE in python?

A Python variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name. 

The can hold a excel file, numric digit, image or anything.

In [15]:
a = 10

In [16]:
print(a)

10

In [17]:
# Variables will always keep the recently assigned object

a= 15
print(a)

15

In [19]:
# A single line of code to create multiple variables

a,b,c,d,e = 234, "Asta", 4+6j, False, 23.45

print(b)
print(d)

Asta
False

In [35]:
# To check what are the functions available for a particular variable

# Varable.<Press Tab key>

print(b.capitalize())
print(b.upper())
print(b.lower())

Asta
ASTA
asta

### Check all the function available for different data types

In [65]:
#  Only same type of variables can be added/subtracted

a = 12
b = "Asta"
c = 23

print(a+c)
print(a+b)

35

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Typecasting

If you want to do some  mathematical operation with two variable from different types, you can convert a variable to the same format then you can add/subtract/multiply/divide. This process is called a typecasting.

In [47]:
a = 12
b = "Asta"
c = 23
d = '45'


print(str(a)+b)
print(int(d)+a)

12Asta
57

### User Input

Python ask the user for input. It will always store in a string data type.

In [49]:
input()

2

'2'

In [50]:
a = input()

23

In [51]:
print(a)

23

In [52]:
type(a)

str

In [53]:
c = int(input())

23

In [54]:
type(c)

int

In [1]:
b = input("What is the value of b ? ")

What is teh value of b ? 45

In [2]:
print(b)

45

In [4]:
print("The value of b is : ",b)

The value of b is :  45

# String

1. Strings in python are surrounded by either single quotation marks, or double quotation marks.
2. 'hello' is the same as "hello"

In [5]:
# Something in a single or double quote
s = 'Astajyoti'

In [6]:
# To check the data type
type(s)

str

### String Subsetting (Extract some chracter/line/paragraph from a string variable)

# Forward Indexing

0-A, 1-s, 2-t, 3-a, 4-j, 5-y, 6-o, s-t, 8-i

# Backward Indexing

-9-A, -8-s, -7-t, -6-a, -5-j, -4-y, -3-o, -2-t,-1-i

In [8]:
print(s[0])
print(s[2])

print(s[-1])
print(s[-5])

A
t
i
j

In [9]:
# if you want to access something out of index
s[100]

IndexError: string index out of range

# To extract a range of character

s[Start_Index: End_Index: Step_Size]

--> End_Index will not be included
--> Space will also be counted as a chracter
--> Start_Index will be included

In [28]:
print(s[0:5])
print(s[2:6])

print(s[-8:-6])

# Because of positive jump it will not give any output
print(s[-3:-6])

print(s[-1:-10:-1])

Astaj
tajy
st

itoyjatsA

In [29]:
# To extract chracter with a skip/jump

print(s[0:7:1])
print(s[0:7:2])
print(s[-8:-6])

Astajyo
Atjo
st

In [19]:
# By Default(if you are not giving any input), jump/step_size is 1

In [31]:
# To repeat a string
print("Asta"*3)

AstaAstaAsta

In [32]:
# To Concatenate string
print("Asta"+"Jyoti")

AstaJyoti

In [33]:
# Length of a string including space
len(s)

9

In [37]:
# Find Function Return the lowest index in s where substring sub is found
s = 'astajyoti'

print(s.find('a'))
print(s.find('ot'))

0
6

In [40]:
# If it does not found anything it will always give -1
s.find('ao')

-1

In [42]:
# Count the occurence of a letter
s.count('a')

2

In [43]:
# Separate enitre string into character

s = "I am astajyoti behera"
s.split()

['I', 'am', 'astajyoti', 'behera']

In [44]:
type(s.split())

list

In [45]:
# If you want to save the character in a variable

l = s.split()

In [46]:
l[1]

'am'

In [47]:
# To find the Upper case
s.upper()

'I AM ASTAJYOTI BEHERA'

In [48]:
# To swap the case of letter

s.swapcase()

'i AM ASTAJYOTI BEHERA'

In [49]:
# To change to Title case

s.title()

'I Am Astajyoti Behera'

In [50]:
# To capitalize the first character

s.capitalize()

'I am astajyoti behera'

In [51]:
# To join character

b = '/'
c = 'xyz'
b.join(c)

'x/y/z'

In [52]:
# To right strip blank spaces

s = ' asta '
s.rstrip()

' asta'

In [55]:
# To left strip blank spaces

s.lstrip()

'asta '

In [56]:
# To strip for both left and right spaces

s.strip()

'asta'

In [57]:
# To replace a character

s.replace('a', 'xyz')

' xyzstxyz '

In [58]:
# To make '################# asta #################'

s.center(40,'#')

'################# asta #################'

In [60]:
# To check if the string is in upper case

s.isupper()

False

In [61]:
# To check if the string has space

s = " "
s.isspace()

True

In [62]:
# To check if the string has only digits

s = "43526"
s.isdigit()

True

In [63]:
# To check if the string ends with some particular chracter

s = 'Astb'
s.endswith('a')

False

In [53]:
# To check if the string ends with some particular chracter

s.endswith('b')

True

In [64]:
# To check if the string starts with some particular chracter

s.startswith('A')

True

# List

1. Lists are used to store multiple items in a single variable.
2. Lists are created using square brackets.
3. List items are ordered, changeable, and allow duplicate values.

Ordered - When we say that lists are ordered, it means that the items have a defined order, and that order will not change. If you add new items to a list, the new items will be placed at the end of the list.

Changeable - The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

In [66]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [67]:
# List Length

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [69]:
# List Items - Data Types
# List items can be of any data type

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

### Subsetting of data in list

In [71]:
l = ['Asta', 'Jyoti', 234, 4+5j, True, False, 23.45]

In [74]:
print(l[0])
print(l[-1])

print(l[0:4])

Asta
23.45
['Asta', 'Jyoti', 234, (4+5j)]

In [75]:
print(l[::-1])

[23.45, False, True, (4+5j), 234, 'Jyoti', 'Asta']

In [76]:
# Extract something from a list element
l[0][1]

's'

In [79]:
# List addition/join

l1 = ["asta", 'behera', 234]
l2 = ['xyz', 'abc', 43.54]

print(l1+l2)
print(l1+["asta1"])
print(l1*3)

['asta', 'behera', 234, 'xyz', 'abc', 43.54]
['asta', 'behera', 234, 'asta1']
['asta', 'behera', 234, 'asta', 'behera', 234, 'asta', 'behera', 234]

In [81]:
# Add item to the list

l1[0] = "Sanu"
print(l1)

['Sanu', 'behera', 234]

In [82]:
# List is a mutable object
# String is immutable object

In [84]:
print(type(l1[0]))
l1[0][0] = 'k'

<class 'str'>

TypeError: 'str' object does not support item assignment

In [86]:
# To append an element to an existing list
l2.append('asta')
print(l2)

['xyz', 'abc', 43.54, 'asta', 'asta']

In [88]:
#To Remove an element - and give it in output
print(l2)
l2.pop(3)
l2.pop()

['xyz', 'abc', 43.54, 'asta']

43.54

In [89]:
# To insert something in a list at a particular index
l2.insert(1, '234')
print(l2)

['xyz', '234', 'abc']

In [92]:
# To reverse a list
print(l2)
l2.reverse()
print(l2)

['xyz', '234', 'abc']
['abc', '234', 'xyz']

In [94]:
# Check the difference between append and extend function

print(l2)

l2.append([9,8,7,6])
print(l2)

l2.extend([4,5,6,7])
print(l2)

['abc', '234', 'xyz']
['abc', '234', 'xyz', [9, 8, 7, 6]]
['abc', '234', 'xyz', [9, 8, 7, 6], 4, 5, 6, 7]

# Tuples

1. Tuples are used to store multiple items in a single variable.
2. Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
3. A tuple is a collection which is ordered and unchangeable.
4. Tuples are written with round brackets.

## Where to use Tuples?
1. If you don't want anyone to change your password/collection, you can use Tuple
2. Where you don't want extend, append. remove, pop, insert operation, you can use Tuple.

In [96]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [98]:
# To check the data type
type(thistuple)

tuple

In [104]:
# Subsetting/slicing tuple

t1 = ('Asta', 2, True, 2+3j)
t1[0:2]

('Asta', 2)

In [101]:
# Reverse order of tuple
t1[::-1]

((2+3j), True, 2, 'Asta')

In [102]:
# Last element of the tuple
t1[-1]

(2+3j)

In [103]:
# Iterm assignment is not possible in tuple
t1[0] = 'Behera'

TypeError: 'tuple' object does not support item assignment

#### --> 'tuple' object does not support item assignment. It is immutable. String is also immutable. But List is mutable.

In [109]:
# Append 2 tuples - It is similar to List

t1 = ('Asta', 2, True, 2+3j,2)
t2 = (1,2,3,4,5,6)

t1+t2

('Asta', 2, True, (2+3j), 2, 1, 2, 3, 4, 5, 6)

In [106]:
# Repeat same tuple element twice

t1*2

('Asta', 2, True, (2+3j), 'Asta', 2, True, (2+3j))

In [110]:
# The count() method returns the number of times a specified value appears in the tuple
t1.count(2)

2

In [112]:
# The tuple index() method helps us to find the index of an element in a tuple
t1.index(2+3j)

3

In [115]:
# Tuple inside a Tuple
t = ((1,2,3), (4,[5,6]))
print(t)
print(t[0])
print(t[1][1])

((1, 2, 3), (4, [5, 6]))
(1, 2, 3)
[5, 6]

# Set

1. Sets are written with curly brackets.
2. Sets are used to store multiple items in a single variable.
3. Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
4. A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

In [122]:
myset = {"apple", "banana", "cherry"}

print(type(myset))

<class 'set'>

In [126]:
# Dictionary is also written within curly braces

d1 = {}
print(type(d1))

<class 'dict'>

In [125]:
# Create a list
l = [1,2,3,4,5,6,66,6,6,5,5,2,2]
print(l)

# Remove all duplicate element
print(set(l))

[1, 2, 3, 4, 5, 6, 66, 6, 6, 5, 5, 2, 2]
{1, 2, 3, 4, 5, 6, 66}

In [127]:
# If you pass multiple at a time into a set
s1 = {1,1,1,1,2,2,2,2,3,3,3,3,3,4,4}
print(s1)

{1, 2, 3, 4}

In [128]:
# You can not slice and dice from a set using a indexing operation

In [129]:
# If you want to slice and dice, convert it to a list then use indexing operation
list(s1)[2]

3

In [132]:
# Add a element to a set
s1.add(22)
print(s1)

{1, 2, 3, 4, 22}

In [133]:
# A list can not be host inside a set
s1.add([1,2,3])

TypeError: unhashable type: 'list'

In [134]:
# To delete any element from a set
s1.discard(22)
print(s1)

{1, 2, 3, 4}

# Dictionary

1. Dictionaries are used to store data values in key:value pairs.
2. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
3. Dictionaries are written with curly brackets, and have keys and values
4. Value wise you can store any type of data type in values inside a dictionary (i.e. string, int, tuple, dict, list, set)
5. Difference between set and dictionary is, while creating a dictionary, you have to create {key : value} pair.

*As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [135]:
thisdict = { "brand": "Ford", "model": "Mustang", "year": 1964 }
print(thisdict)
print(type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
<class 'dict'>

In [143]:
d1 = {'key1': 5545, 'key2':'Asta','key3':[2,3,4]}

print(d1.keys())
print(d1.values())

dict_keys(['key1', 'key2', 'key3'])
dict_values([5545, 'Asta', [2, 3, 4]])

In [152]:
# Subsetting Dictionary

print(d1['key2'])
print(d1.get('key1'))

Asta
5545

In [144]:
# Assigning new key and value to an existing dictionary

print(d1)
d1['key4'] = "Ram"
print(d1)

{'key1': 5545, 'key2': 'Asta', 'key3': [2, 3, 4]}
{'key1': 5545, 'key2': 'Asta', 'key3': [2, 3, 4], 'key4': 'Ram'}

In [145]:
# Item replacement

print(d1)
d1['key3'] = 50
print(d1)

{'key1': 5545, 'key2': 'Asta', 'key3': [2, 3, 4], 'key4': 'Ram'}
{'key1': 5545, 'key2': 'Asta', 'key3': 50, 'key4': 'Ram'}